/* Variables */

:root {
	--Basic-green: #63A63E;;
	--Basic-grey: #3D546F;
	--Basic-greylight:  #C5C5C5;
	--Basic-red: #EE3643;
	--Basic-background: #F1F5F7;
	--basic-white: #ffffff;
	--Special-ylellow :  #FFBF47;
	--Special-blue:  #3BBCE3;
	--Special-lilac:  #DC91D8;;
	--Special-greenlight:  #8ED78F;
	--Special-yellowlight: #FFD180;
	--светло-серый-background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
	--Успех:  #5FBB2D;
	--Предупрждение:  #FFBF47;
	--Ошибка:  #BA2732;
}

/* Global */

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}


a {
	text-decoration: none;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	padding-inline-start: 0;
}

nav {

}

.visually-hidden
{
	display: none;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
}

.container {
	max-width: 940px;
	margin: auto;
}

/* main-header */
.main-header {
	background-color: #F3F7F9;
	width: 100%;
	height: 320px;
}

.main-header-top {
	height: 42px;
	width: 100%;
	background: #293449;
}

.main-header-top-first {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}



.main-header-logo:focus {
	background: #BA2732;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-header-zakladka,
.main-header-busket,
.main-header-zakaz{
	font-family: "Cuprum", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	align-items: center;
	color: #FFFFFF;
}

.main-header-zakladka:focus,
.main-header-busket:focus,
.main-header-zakaz:focus{
	opacity: 0.5;
}

.main-header-zakaz {
	display: flex;
justify-content: center;
align-items: center;
align-content: center;
    width: 150px;
    height: 42px;
        margin-bottom: 15px;
}


.main-header-zakaz,
.main-header-zakaz:focus{
	background: var(--Basic-green);
}

.main-header-zakaz:hover{
	background: var(--Успех);
}

.main-header-busket {
	position: relative;
		width: 136px;
		height: 42px;
    display: flex;
    align-content: center;
    align-items: center;
        justify-content: flex-start;
        padding-left: 35px;
}



.main-header-busket::before {
	    content: "";
  position: absolute;
top: 12px;
    left: 12px;
  width: 15px;
  height: 15px;
   background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
     opacity: 0.3;
}

.main-header-busket:hover::before,
.main-header-busket:focus::before,
.main-header-busket:active::before {
  opacity: 1;
}

.main-header-zakladka {
	position: relative;
	    width: 105px;
	    height: 42px;
	    display: flex;
	    align-content: center;
	    align-items: center;
	    padding-left: 25px;

}

.main-header-zakladka::before {
	    content: "";
  position: absolute;
    top: 13px;
    left: 0px;
  width: 15px;
  height: 15px;
   background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
     opacity: 0.3;

}

.main-header-zakladka:hover::before,
.main-header-zakladka:focus::before,
.main-header-zakladka:active::before {
  opacity: 1;
}

.busket {
margin-bottom: 15px;
width: 136px;
}

.busket:active {
background: #161D29;
}

.zakladka {
	margin-bottom: 15px;
}
.zakladka:active {
background: #161D29;
}

.full {
background-color: #EE3643;
width: 136px;
height: 42px;
}

.search {
	position: relative;
	display: flex;
	justify-content: flex-start;

	align-items: center;
	align-content: center;
margin-top: -15px;
margin-left: 2px;
}


.search input {
  box-sizing: border-box;
  width: 270px;
  height: 42px;
  padding-left: 48px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 18px 12px;
  border: none;
}
.search input::-moz-placeholder,
.search input:-moz-placeholder {
  opacity: 1;
}
.search input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  border: none;
}
.search input::placeholder,
.search input::-moz-placeholder,
.search input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
    border: none;
}

.top-menu:hover,
.search input:hover {
  background-color: #212a3a;
}

.search input:hover {
  background-image: url(../img/icon-search-hover.svg);
  background-repeat: no-repeat;
  background-position: 18px 12px;
}

.top-menu p:active:not(.search) {
  background-color: #161d29;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url(../img/icon-search-active.svg);
  background-repeat: no-repeat;
  background-position: 18px 12px;
}


.main-header-title {
	display: flex;
	justify-content: space-between;
	align-content: center;
}


.main-header-title .name {
	font-family: "Cuprum", Arial, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	color: #EE3643;
	padding-top: 37px;
	padding-bottom: 44px;
}

.main-header-title .phone {
	font-family: "Cuprum", Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	align-items: center;
	color: #EE3643;
	border: 3px solid #FFFFFF;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 74px;
	padding-right: 45px;
	position: relative;
}

.phone::before {
    content: "";
  position: absolute;
  top: 10px;
    left: 39px;
  width: 19px;
  height: 19px;
   background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-title .address {
	font-family: "Cuprum", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	align-items: center;
	color: #32425C;
}

.main-header-title .enter,
.main-header-title .registration
{
	font-family: "Cuprum", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.main-header-title .enter:hover,
.main-header-title .registration:hover
{
	color: var(--Basic-red);
}

.main-header-title .enter:focus,
.main-header-title .registration:focus
{
	color: var(--Basic-greylight);
}

.enter {
	position: relative;
}

.enter::before {

    content: "";
  position: absolute;
left: 19px;
  width: 20px;
  height: 17px;
   background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.enter:hover::before {
   background-image: url(../img/icon-login2.svg);
}

.contact-header {
	text-align: center;
	padding-top: 59px;
}

.header-links {
	text-align: center;
	padding-top: 46px;
	padding-bottom: 40px;
}
.head-login {
	background-color: #ffffff;
	padding-top: 12px;
	padding-bottom: 12px;
}

.head-links {
	display: flex;
	justify-content: space-between;
	max-width: auto;
	margin-top: 7px;
}

.head-links-catalog {
display: flex;
flex-direction: column;
width: 299px;
height: 70px;
}

.head-links-lk {
	display: flex;
	justify-content: space-around;
	margin-top: 7px;
}

.head-login {
	max-height: 45px;
}

.vhod {
	background-color: #ffffff;
	margin-left: 10px;
	    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
 
}

.enter {
		    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 45px;
    padding-right: 27px;
}

.registration {
		    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
}

.main-header-logo img {
}

.logo {
width: 220px;
    height: 47px;
    margin-bottom: 10px;
}
/* site-navigation */

.site-navigation {
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	background: #32425C;
	box-shadow: inset 0px -5px 0px #293449;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 60px;
	min-height: 60px;
	max-width: 940px;
		padding-inline-start: 0;
		margin-bottom: 60px;
}



.site-navigation a,
.user-navigation a {
	color: var(--basic-white);
	display: block;
}

.site-navigation li
{
padding-top: 16px;
padding-bottom: 20px;
padding-left: 27px;
padding-right: 24px;
}

.site-navigation li:hover,
.site-navigation li:focus
{
	background-color: #293449;
}

.site-navigation li:focus {
	opacity: 0.5;
}

/* actions */
.actions {
	width: 940px;
	margin-top: 59px;

}

.actions-list {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 123px 123px 123px;
	 gap: 20px 20px; 

}
.actions-list h2, .vertical-actions-list h2 {
	font-family: "Cuprum", Arial, sans-serif;
	color: var(--basic-white);
	font-size: 24px;
	line-height: 30px;
}

.actions-list a, .vertical-actions-list a {
	font-family: "Cuprum", Arial, sans-serif;
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: rgb(255, 255, 255, 0.3);
}

.actions-list a:hover, .vertical-actions-list a:hover {
	background-color: rgb(197, 197, 197, 0.3);
}

.actions-list a:focus, .vertical-actions-list a:focus {
	background-color: rgb(169, 169, 169, 0.3);
}

.actions-item-1 {
	background: #FFBF47;
	display: flex;
	justify-content: space-around;
	grid-row: 1/ 1;
    grid-column: 1 /1;
    position: relative;
}

.actions-item-1::before {
content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 70px;
    height: 70px;
    background: url(../img/new.svg) no-repeat 0 0;
}

.actions-item-2 {
	background: #3BBCE3;
		display: flex;
	justify-content: space-around;
	grid-row: 1/ 1;
	grid-column: 2 / 2;
}

.actions-item-3 {
	background: #DC91D8;
		display: flex;
	justify-content: space-around;
	grid-row: 1/ 1;
	grid-column: 3 / 3;
}

/* main-slider */
.main-slider li:first-child{
background-image: url(../img/slide1.png)
}

.main-slider li:last-child{
background-image: url(../img/slide2.png)
}

.main-slider h2 {
	font-family: "Cuprum", Arial, sans-serif;
	color: var(--basic-white);
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	padding-top: 23px;
	padding-left: 24px;
	margin: 0;
}

.main-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-slider li {
	      width: 620px;
    height: 266px;
}

.main-slider p {
	font-family: "Cuprum", Arial, sans-serif;
	color: var(--basic-white);
	font-size: 18px;
	margin: 0;
	padding-left: 24px;
}

.slider-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 192px;
	margin-left: 24px;
	margin-top: 113px;
	height: 38px;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 20;
    display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
    background-color: #ffffff;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls .current {
  background-color: var(--Basic-red);
}


.slider::before {
	background-image: url(../img/icon-left.svg);
  padding: 0;
  cursor: pointer;
}

.right-arrow {
	background-image: url(../img/icon-right.svg);
}

.main-slider a,
.popular-link,
.about-link,
.about-link-company
{
	font-family: "Cuprum", Arial, sans-serif;
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background: var(--Basic-red);
}

.about-link {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	padding-top: 11px;
	padding-bottom: 9px;
}

.about-link-company {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	padding-top: 11px;
	padding-bottom: 9px;
	max-width: 220px;
}


.main-slider a:focus,
.popular-link:focus,
.about-link:focus {
	background: var(--Ошибка);
}

.main-slider a:hover {
background-color: #CA2C37;
}


/* vertical-actions-list */
.actions-item4 {
	background: #8ED78F;
	grid-column: 3 / 4;
	grid-row: 2 / -2;
		display: flex;
	justify-content: space-around;
}

.actions-item5 {
	background: #FFC047;
	grid-column: 3 / 4;
		display: flex;
	justify-content: space-around;
}

.actions-item-img {
	padding-top: 31px;
}

.actions-item-link {
	display: flex;
	width: 135px;
	height: 38px;
	align-content: center;
	align-items: center;
	justify-content: center;
}
/* popular */
.popularno {
	background-color: #F9F5F0;
	display: flex;
	justify-content: space-between;
	max-width: auto;
	align-content: center;
	margin-top: 59px;

}

.popularno h2 {
	color: #32425C;
	text-transform: uppercase;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: regular;
	padding-left: 28px;
}

/* main-popular-items */

.popular-brands {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.popular-link {
	padding-top: 10px;
padding-bottom: 10px;
display: flex;
align-items: center;
align-content: center;
justify-content: center;
width: 192px;
margin-right: 14px;
margin-top: 25px;
margin-bottom: 26px;
}

.popular-brands li {
	width: 220px;
	height: 145px;
}

.main-popular-items {
display: flex;
justify-content: space-around;
}



.main-popular-items li,
.popular-brands li,
.catalog li {
	border: 1px solid #EAEAEA;
	width: 220px;
	margin-bottom: 20px;
	    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.main-popular-items li:hover,
.catalog li:hover {
box-shadow: 0 0 10px #aeb2ba
}



.main-popular-items li,
.catalog li,
.main-popular-items article,
.catalog article {
height: 318px;
}



.popular-item-image {
	    margin: 0;
    position: relative;
    width: 220px;
    height: 167px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.popular-brands li:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	opacity: 1;
}

.popular-brands li:focus {
opacity: 0.5;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}




.main-popular-items h3,
.catalog h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	    margin: 0;
	    padding: 0 24px 0 25px;
}

.old-price {
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
	color: #A9A9A9; 
	text-align: center;
	margin: 0;
	padding-top: 7px;
}

.old-price-place {
height: 30px;
}

.price {
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: #FFFFFF; 
	background: url(../img/red-button.svg) no-repeat;
	background-position: center;
	text-align: center;
	padding-top: 10px;
	padding-left: 32px;
	padding-bottom: 10px;
	padding-right: 44px;
}

.new {
	position: relative;
}

.new::before {
content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 70px;
    height: 70px;
    background: url(../img/new.svg) no-repeat 0 0;
}

.drill-actions {
    position: absolute;
    z-index: 150;
    display: none;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    font-family: "PT Sans","Arial",sans-serif;
    text-align: center;
    color: #000;
    background: #fff;
align-items: center;
text-align: center;
max-width: 145px;
    margin-left: 41px;
}


.drill-actions .buy {
    display: block;
    margin: 0 auto 7px;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    font-family: 'Cuprum','Arial',sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background: #63A63E;
    border-radius: 3px;
    color: #ffffff;
    width: 141px;
    height: 38px;
    display: flex;
        align-content: center;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #395e25;
    position: relative;
    padding-left: 3px;
}

.drill-actions .buy::before {
    content: "";
  position: absolute;
left: 30px;
  width: 15px;
  height: 15px;
   background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.drill-actions .in-bookmark {
    display: flex;
    margin: 0 auto 7px;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    font-family: 'Cuprum','Arial',sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background: #ffffff;
    border: 3px solid #63A63E;
    border-radius: 3px;
        width: 135px;
    height: 38px;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}



.main-popular-items li:hover .popular-item-image img,
.catalog-list li:hover .popular-item-image img {
    display:none;
}


.main-popular-items li:hover .drill-actions,
.catalog li:hover .drill-actions {
    display:block;
    position:absolute;
    top:38px;
    z-index:9999;
    width:220px;
    height: 86px;
    left: 0;
}

.drill-actions:hover .in-bookmark:hover {
	border: 3px solid #32425C;
	opacity: 1;
}

.drill-actions:hover .in-bookmark:focus {
	border: 3px solid #32425C;
	opacity: 0.5;
}

.drill-actions:hover .buy:hover {
	background-color: #5FBB2D;
}

.drill-actions:hover .buy:focus {
	background-color: #518534;
}

/* service */
.service,
.catalog-text {
	background-color: var(--Basic-background);
}

.catalog-text-main {
	padding-top: 64px;
	padding-bottom: 68px;
}

.service h2,
.catalog-text h2{
	text-transform: uppercase;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: regular;

}

.service h2 {
padding-top: 64px;
}

.description h2 {
	color:  #32425C;
	margin: 0;
	padding: 0;
}

.main-service h3 {
	text-transform: uppercase;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: regular;
	color: #32425C;
}

.main-service a {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #FFFFFF; 
	background-color: #32425C;
}

.main-service a:hover {
	color: #FFFFFF; 
	background-color: #293449;
}

.main-service a:active {
	color: #32425C; 
	background-color: #FFFFFF;
}

.services-slider {
	display: flex;
	justify-content: space-between;
	margin-top: 66px;
}

.services-control {
	width: 240px;
    position: relative;
}

#services-1:checked~.services-control .services-control-item-1, #services-2:checked~.services-control .services-control-item-2, #services-3:checked~.services-control .services-control-item-3 {
	    background-color: #fff;
    color: #32425c;
    box-shadow: none;
}

.services-control label {
	    display: block;
font-family: Cuprum;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 30px;
    background-color: #32425c;
    padding: 20px 22px 18px;
    box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
    color: #ffffff;

}

.services-control label:hover {
    background-color: #293449;

}

.services-control::before {
	content: "";
    position: absolute;
    top: -35px;
    left: 230px;
    width: 10px;
    height: 272px;
    background-image: url(../img/ten.png);
}

#services-1:checked~.services-list .services-item:first-child, #services-2:checked~.services-list .services-item:nth-child(2), #services-3:checked~.services-list .services-item:last-child {
	    display: block;
}

.services-item:first-child {
	background-image: url(../img/bg-1.png);
    background-repeat: no-repeat;
    background-position: 152px 19px;
}

.services-item:nth-child(2) {
	background-image: url(../img/bg-2.png);
    background-repeat: no-repeat;
    background-position: 233px 7px;
}
.services-item:last-child {
	background-image: url(../img/bg-3.png);
    background-repeat: no-repeat;
    background-position: 154px 0;
}

.services-item {
	display: none;
	    width: 620px;
    min-height: 285px;
    margin-left: 80px;
}

.services-item p {
	width: 275px;
}

.services-item p:nth-child(2) {
	width: 331px;
}

.services-item p:nth-child(3) {
	width: 331px;
}

.services-item .wrapper {
	display: flex;
	justify-content: space-between;
}

.services-item:first-child img {
	    margin-top: 19px;
}

.send-request {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 195px;
	height: 38px;
	background-color: #FF5357;
	color: #ffffff;
	border-radius: 5px;
}
/* main-text*/
.main-text{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;	
}

.main-text-about {
	width: 478px;	
	margin-top: 70px;
}

.main-text h2 {
	text-transform: uppercase;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: regular;
	margin: 0;
}

.main-text ul 
{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
}

.main-text li {
    background: url(../img/icon-line.svg) no-repeat 0 10px;
    padding-left: 37px;
}

.main-text-contacts {
	width: 300px;
	margin-top: 70px;
}

.main-text-contacts img {

}


/* footer */
.main-footer {
	background-color: #32425C;
}

.footer-top{
	display: flex;
	justify-content: space-between;
}

.footer-middle {
	display: flex;
	justify-content: space-between;
	padding: 0;
	padding-bottom: 54px;
}

.footer-top-first {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.footer-site-navigation{
	display: flex;
	padding-top: 37px;
}

.footer-site-navigation li {
	padding-left: 58px;
}

.white-footer-text,
.footer-site-navigation a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	font-weight: regular;
	color: #FFFFFF;
	padding: 0;
}

.footer-bottom-navigation{
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.footer-bottom-navigation li {
	padding-left: 60px;
}

.footer-bottom-navigation a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	font-weight: regular;
	color: #FFDA96;
}

.footer-site-navigation a:hover,
.footer-bottom-navigation a:hover {
	text-decoration: underline;
}

.footer-site-navigation a:focus,
.footer-bottom-navigation a:focus {
	opacity:0.5;
}

.footer-bottom {
	background-color: #293449;
}

.footer-bottom p {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: regular;
	color: #FFFFFF;
}

.footer-bottom-text {
	width: 227px;
	margin: 0;
}

.footer-bottom-blocks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 35px;
	padding-top: 35px;

}

.social {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 134px;
	height: 44px;
}


.social-vk,
 .social-fb,
 .social-insta {
background-color: #212A3A;
border-radius: 50px;
    width: 44px;
    height: 44px;
}

.social-vk:hover,
 .social-fb:hover,
 .social-insta:hover,
 .social-vk:focus,
 .social-fb:focus,
 .social-insta:focus
 {
background-color: var(--Basic-red);
}

.social-vk img {
	padding-top: 14px;
	padding-left: 9px;
}

.social-fb img {
	padding-top: 11px;
	padding-left: 16px;
}


.social-insta img {
	padding-top: 11px;
	padding-left: 11px;
}



.footer-bottom-links {
	display: flex;
	justify-content: space-between;
}

	.footer-bottom-links-item {
		padding-left: 51px;
		text-align: left;

}
.footer-bottom-links-item a {
	color: #FFD180;
}


.footer-bottom-links-item a:hover {
	text-decoration: underline;
}

.footer-bottom-links-item a:focus {
	color: var(--Basic-red);
}

.catalog-bottom-navigation {
	margin-bottom: 59px;
	margin-top: 48px;
}

.catalog-bottom-navigation a{
	border: 1px solid #EAEAEA;
	line-height: 18px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
}

.navigation-link {
	padding-left: 15px;
	padding-right: 15px;
}

.sled {
	padding-left: 32px;
	padding-right: 31px;
}
.active{
	background-color: var(--Basic-red);
	color: #ffffff;
		padding-left: 15px;
	padding-right: 15px;
}

.catalog-bottom-navigation a:hover{
	border: 1px solid var(--Basic-greylight);
}

.catalog-bottom-navigation a:focus{
	border: 1px solid #EE3643;
}

.login {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: regular;
	background-color: rgba(0, 0, 0, 0.0001);
	position: relative;
}

.login::before {
content: '';
    position: absolute;
    top: 2px;
    left:-40px;
    z-index: 10;
    width: 20px;
    height: 18px;
    background: url(../img/icon-user.svg) no-repeat 0 0;
}

.login::after {
content: '';
    position: absolute;
    top: 2px;
    left:200px;
    z-index: 10;
    width: 20px;
    height: 17px;
    background: url(../img/icon-login.svg) no-repeat 0 0;
}

.login:hover:before {
    background: url(../img/icon-user-hov.svg) no-repeat 0 0;
}

.login:hover:after {
    background: url(../img/icon-login-hov.svg) no-repeat 0 0;
}

.login:focus:before {
    background: url(../img/icon-user.svg) no-repeat 0 0;
}

.login:focus:after {
    background: url(../img/icon-login.svg) no-repeat 0 0;
}

.my-orders, .my-lk {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: regular;
	color: #32425C;	
}

.my-orders:hover, .my-lk:hover {
	color: var(--Basic-red);
}

.my-orders:focus, .my-lk:focus, .login:focus{
	opacity: 0.5;
	color: var(--Basic-greylight);
}

.page-catalog {
	display: flex;
	justify-content: space-between;

}

.breadcrumbs {
	line-height: 18px;
	text-transform: uppercase;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: auto;
	padding: 0;
	margin: 0;
	margin-top: 21px;
}

.breadcrumbs:first-child a {
	    margin-right: 13px;
}

.breadcrumbs li {
	  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:not(:last-child):after  {
content: "";
    width: 8px;
    height: 8px;
    border: 1px solid #c1c6ce;
    border-top-style: none;
    border-left-style: none;
    transform: rotate(-45deg);
    position: absolute;
    top: 3px;
}


.page-title {
	color: #32425C;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: regular;
	background-color: #F2F6F8;
	text-transform: uppercase;
	padding-top: 29px;
	padding-left: 29px;
	padding-bottom: 30px;
}

.filters {
	max-width: 220px;
	margin: 0;
}

.filters h2 {
	font-size: 13px;
	line-height: 18px;
	background-color: #F7F3EC;
	text-transform: uppercase;
	font-weight: normal;
	padding: 10px 0 10px 18px;
	margin: 0;
}

.filters legend {
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 15px;
}

.filters fieldset {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.filters hr {
    border: 1px solid #e5e5e5;
    margin-top: 25px;
}

.filters label {
	font-size: 15x;
	line-height: 19px;
	text-transform: uppercase;
}

.filters ul {
		margin: 0px;
	padding: 0px;
	padding-top: 17px;
}

.filters li {
margin-bottom: 20px;
padding-left: 31px;
}

.disabled {
	opacity: 0.5;
}


.filters-price-first {
background-color: #F7F3EC;
padding: 20px;	
margin-bottom: 9px;
margin-top: 10px;
}

.min-max span {
align-content: center;
vertical-align: center;
}

.min-max {
	display: flex;
	justify-content: space-between;
	max-width: 220px;
	padding: 0;
	margin: 0;
}

.min-max input[type="text" i] {
		padding: 0;
	margin: 0;
	max-width: 95px;
	text-align: center;
	font-size: 17px;
line-height: 18px;
padding-top: 10px;
padding-bottom: 10px;
background-color: #F7F3EC;
border: 0px;
}

.filter-button {
background: #FFFFFF;
border: 1px solid #E5E5E5;
text-transform: uppercase;
padding-top: 10px;
padding-bottom: 10px;
display: flex;
align-items: center;
justify-content: center;
 width:100%;
}

.catalog-right {
	max-width: 700px;
}

.sort {
	background-color: #F7F3EC;
	display: flex;
	justify-content: flex-start;
	max-width: 700px;
	max-height: 38px;
	align-items: center;
	margin: 0;
	margin-bottom: 28px;
}

.sort-first {
	padding-left: 20px;
}

.sort-option {
	display: flex;
	justify-content: space-between;
	padding-left: 91px;

}



.sort-title,
.sort-option li {
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;

}
.sort-title {
	padding-left: 20px;
}

.sort-option li {
padding-left: 49px;
}

.nonactive-sort {
	opacity: 0.3;
	border-bottom: 1px dotted #EE3643;
}

.up-sort {
	display: flex;
	width: 43px;
	height: 10px;
	justify-content: space-between;
	align-content: center;
	padding-top: 5px;
}

.up-sort .sort-up {
    display: inline-block;
    width: 11px;
    height: 10px;
    border: none;
    background: url(../img/icon-down-dir.svg) no-repeat;
}

.up-sort .sort-down {
    display: inline-block;
    width: 11px;
    height: 10px;
    border: none;
    background: url(../img/icon-up-dir.svg) no-repeat;
}

.up-sort .sort-up:hover {
    background: url(../img/icon-up-dir-hov.svg) no-repeat;
        border: none;
}

.up-sort .sort-down:hover {
    background: url(../img/icon-down-dir-hov.svg) no-repeat;
        border: none;
}


.sort-option a:hover {
	border-bottom: 1px solid #EE3643;
	opacity:1;
}

.sort-option a:active {
	color: #EE3643;
	opacity:1;
	border: none;
}



.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content: space-between;
}

.catalog-list li{
	max-width: 220px;
	padding: 0;
	margin: 0;
	margin-bottom: 18px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.range-controls {
	  position: relative;
    height: 41px;
    margin-bottom: 9px;
     padding-top: 39px;
       padding-right: 20px;
  padding-left: 20px;
  background-color: #F7F3EC;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
	  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
   border-radius: 50%;
     box-shadow: 0 2px 1px 0 #cfcfcf;
       cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 152px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 17px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
    width: 95px;
    height: 38px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #F7F3EC;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -32px;
    top: -3px;
  width: 23px;
  height: 23px;
 background-image: url(../img/checkbox-off.svg);
}

.filter-option label {
	font-size: 15px;
	line-height: 19px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
    top: -3px;
  left: -32px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -32px;
    top: -3px;
  width: 25px;
  height: 25px;
 background-image: url(../img/radio-off.svg);
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
    top: -3px;
  left: -32px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
}

.point {
    width: 6px;
    height: 7px;
    margin-top: 5px;
    background: #32425c;
    border-radius: 50px;
}

.slider {
  position: relative;
  color: #ffffff;
  grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.active-sort {
	color: var(--Basic-red);
	opacity: 1;
	border-bottom: 0px;
}

.active-sort:hover {
	color: #000000;
}